.body {
    background-color: rgb(248, 245, 245);
    margin: 50px;
}
.main{
    display: grid;
    /* Enables CSS Grid layout */
    grid-template-columns: repeat(4, 1fr);
    /* Creates 3 columns of equal width */
    gap: 20px;
    /* Adds space between grid items */
    padding: 10px;
}
.border {
    border: none;
}

.sub {
    display: flex;
    align-items: baseline;
    justify-items: start;
    gap: 5px;
}

.sub1 {
    font-weight: bold;
}

.sub2 {
    font-size: 12px;
    color: grey;
}

.title {
    font-weight: bold;
    font-size: 25px;
    border: none;
}

.tag-main {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.tag {
    background-color: rgb(236, 231, 231);
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dollar {
    font-weight: bold;
}

.adress {
    margin-top: -20px;
    color: grey;
    font-size: 12px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.picture {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo {
    height: 30px;
}

.logo2 {
    background-color: white;
    color: grey;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(215, 209, 209);
    border-radius: 5px;
    padding: 8px 16px;
}
.logo2.saved{
    background-color: rgb(209, 209, 209);
    color: black;   
}
.save {
    margin-top: 13px;
}